.buyNow
  &-container
    padding-top: 100px
    width: 87%
    margin: 0 auto
    display: flex
    justify-content: space-between
  &-info
    width: 50%
    &-wrapper
      margin-top: 246px
  &-title
    font-size: 48px
    line-height: 62px
    margin-bottom: 23px
  &-text
    padding-left: 30px
    margin-bottom: 55px
    li
      font-size: 15px
      line-height: 30px
      opacity: 0.8
  &-button
    font-family: 'IBM Plex Mono', monospace
    color: #fff
    background: #9400FF
    border-radius: 200px
    padding: 15px 42px
    border: none
  &-image
    width: 50%
    img
      width: 100%
      height: 100%
      margin: 0 auto
    
  