@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap')

body
  font-family: 'Manrope', sans-serif;
  background-color: #000
  color: #fff
.container
  width: 95%
  margin: 01 auto



