.header-container
  width: 95%
  display: flex
  justify-content: space-between
  padding-top: 30px

.header
    background-image: url("../img/header-bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center 
    height: 955px
    &-container
        align-items: center
    &-menu
        display: flex
        justify-content: space-between
        &-item
            font-family: 'IBM Plex Mono', monospace
            text-decoration: none
            color: #fff
            opacity: 0.8
            &:not(:last-child)
                margin-right: 40px               
    &-logo
    &-button
        font-family: 'IBM Plex Mono', monospace
        color: #fff
        background-color: #9400FF
        border: none
        border-radius: 200px
        padding: 4px 18px

.hero
    margin-top: 115px
    margin-bottom: 108px
    &-container
        width: 90%
        margin: 0 auto        
    &-subtitle
        font-size: 16px
        line-height: 25px
        opacity: 0.8
    &-title
        display: block
        font-size: 48px
        line-height: 62px
        max-width: 580px
        margin-top: 14px
        margin-bottom: 58px
    &-button  
        font-family: 'IBM Plex Mono', monospace
        background-color: #9400FF
        color: #fff
        border-radius: 200px
        font-size: 13px
        line-height: 20px
        padding: 15px 42px
        border: none

.description
    display: flex
    &-container
        width: 90%
        margin: 0 auto
    &-wrapper
        display: flex
        width: 66%
    &-card 
        margin-right: 86px
        width: 232px;
    &-title
        font-size: 15px
        line-height: 25px
        padding: 24px 0 19px
        text-align-last: left
        opacity: 0.8
    &-text
        font-size: 15px
        line-height: 30px
        opacity: 0.65