.header-container
  width: 95%
  display: flex
  justify-content: space-between
  padding-top: 30px

.header
    background-image: url("../img/header-bg.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    height: 100vh
    &-container
        align-items: center
        width: 95%
        margin: 0 auto
        display: flex
        justify-content: space-between
        padding-top: 30px
    &-menu
        display: flex
        justify-content: space-between
        &-burgerbtn
          display: none
        &-item
            font-family: 'IBM Plex Mono', monospace
            text-decoration: none
            color: #fff
            opacity: 0.8
            &:not(:last-child)
                margin-right: 40px 
    &-button
        font-family: 'IBM Plex Mono', monospace
        color: #fff
        background-color: #9400FF
        border: none
        border-radius: 200px
        padding: 4px 18px

.hero
    padding-top: 80px
    padding-bottom: 85px
    &-container
        width: 90%
        margin: 0 auto        
    &-subtitle
        font-size: 16px
        line-height: 25px
        opacity: 0.8
    &-title
        display: block
        font-size: 48px
        line-height: 62px
        max-width: 580px
        margin-top: 14px
        margin-bottom: 58px
    &-button  
        font-family: 'IBM Plex Mono', monospace
        background-color: #9400FF
        color: #fff
        border-radius: 200px
        font-size: 13px
        line-height: 20px
        padding: 15px 42px
        border: none

.description
    display: flex
    &-container
        width: 90%
        margin: 0 auto
    &-wrapper
        display: flex
        width: 80%
    &-card 
        margin-right: 86px
        width: 33%
    &-title
        font-size: 15px
        line-height: 25px
        padding: 24px 0 19px
        text-align-last: left
        opacity: 0.8
    &-text
        font-size: 15px
        line-height: 30px
        opacity: 0.65

.buyNow
  margin-bottom: 100px
  height: 100vh
  &-container
    height: 100%
    padding-top: 50px
    width: 87%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
  &-info
    display: flex
    align-items: center
    justify-content: center
    width: 50%
    &-wrapper
      height: 100%
  &-title
    font-size: 48px
    line-height: 62px
    margin-bottom: 23px
    opacity: 0.8
  &-text
    padding-left: 30px
    margin-bottom: 55px
    li
      font-size: 15px
      line-height: 30px
      opacity: 0.8
  &-image
    width: 50%
    img
      width: 595px
      height: 979px

.rendered
  margin-bottom: 100px
  &-title
    text-align: center
  &-pallette
    width: 100%

.bigsur
  &-title
    text-align: center
    margin-bottom: 30px
  &-pallette
    width: 100%
    margin-bottom: 64px
  &-menu
    text-align: center
    &-wrapper
      width: 86%
      margin: 0 auto
      display: flex
      justify-content: space-around
    &-title
      color: #999999
      font-size: 15px
      line-height: 25px
      margin-bottom: 20px
  &-item
  &-link
    font-size: 14px
    line-height: 22px
    text-decoration: none
    color: #fff
    opacity: 0.65

.iconrequest
  &-container
    width: 75%
    display: flex
    height: 620px
  &-image
    width: 400px
    height: 400px
    img
      width: 100%
      height: 100%
    &-wrapper
      width: 50%
      display: flex
      align-items: center
      justify-content: center
  &-info
    width: 50%
    margin: auto
  &-title
    margin-bottom: 35px
  &-text
    color: #EBEBEB
    font-size: 16px
    line-height: 30px
    max-width: 90%
    margin-bottom: 26px

.grab
  background-image: url('../img/grab-bg.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  &-container
    text-align: center
    min-height: 432px
  &-title
    font-size: 51px
    line-height: 52px
    padding-top: 106px
    margin-bottom: 32px
  &-text
    font-size: 18px
    line-height: 26px
    opacity: 0.8
    margin-bottom: 42px

.footer
  min-height: 307px;
  &-container
    width: 50%
    margin: auto
  &-wrapper
    text-align: center
    padding-top: 87px
  &-logo
    margin-bottom: 24px
  &-author
    margin-bottom: 32px
    font-size: 16px
    line-height: 30px
    span
      color: #9400FF
      font-size: 15px
  &-copyright
    font-size: 11px
    line-height: 30px
    opacity: 0.8

// @media (max-width: 1200px)



@media (max-width: 1024px)
  .header
  .hero
  .description
    &-wrapper
      width: 90%
    &-card
      margin-right: 23px

@media (max-width: 760px)
  .hero
    padding-bottom: 20px
    padding-top: 100px
    &-title
      font-size: 35px
      margin: 10px 0 25px
  .header
    &-container
      position: relative
    &-menu
      display: flex
      position: absolute
      align-items: center
      justify-content: center
      z-index: 2
      width: 50%;
      height: 50%;
      margin: auto;
      top: -380px; left: 50px; bottom: 0; right: 0;
      &-item
        width: 200px
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        padding: 20px
        &:not(:last-child)
          margin-right: 0
      &-burgerbtn
        display: flex
        top: 120%
        font-family: 'IBM Plex Mono', monospace
        color: #fff
        background: #9400FF
        border-radius: 200px
        padding: 10px 32px
        border: none
        font-size: 100%
      &-active
        transform: translate( 0%, 800%)
        transition: 2s
      &-hiding
        transform: translate( 0%, -300%)
        transition: 2s
  .description
    &-wrapper
      width: 100%
  
  .buyNow
    &-info
      width: 100%
    &-image
      width: 100%
      height: 80%
      position: absolute
      right: 3%
      opacity: .3
      z-index: -1

  .bigsur
    &-menu
      width: 33%
      margin-bottom: 20px
      &-wrapper
        flex-wrap: wrap

// @media (max-width: 480px) 





    