.header-container
  width: 95%
  display: flex
  justify-content: space-between
  padding-top: 30px

.header
    background-image: url("../img/header-bg.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    height: 100vh
    &-container
        align-items: center
        width: 95%
        margin: 0 auto
        display: flex
        justify-content: space-between
        padding-top: 30px
    &-menu
        display: flex
        justify-content: space-between
        &-item
            font-family: 'IBM Plex Mono', monospace
            text-decoration: none
            color: #fff
            opacity: 0.8
            &:not(:last-child)
                margin-right: 40px 
    &-button
        font-family: 'IBM Plex Mono', monospace
        color: #fff
        background-color: #9400FF
        border: none
        border-radius: 200px
        padding: 4px 18px

.hero
    padding-top: 115px
    padding-bottom: 108px
    &-container
        width: 90%
        margin: 0 auto        
    &-subtitle
        font-size: 16px
        line-height: 25px
        opacity: 0.8
    &-title
        display: block
        font-size: 48px
        line-height: 62px
        max-width: 580px
        margin-top: 14px
        margin-bottom: 58px
    &-button  
        font-family: 'IBM Plex Mono', monospace
        background-color: #9400FF
        color: #fff
        border-radius: 200px
        font-size: 13px
        line-height: 20px
        padding: 15px 42px
        border: none

.description
    display: flex
    &-container
        width: 90%
        margin: 0 auto
    &-wrapper
        display: flex
        width: 66%
    &-card 
        margin-right: 86px
        width: 33%
    &-title
        font-size: 15px
        line-height: 25px
        padding: 24px 0 19px
        text-align-last: left
        opacity: 0.8
    &-text
        font-size: 15px
        line-height: 30px
        opacity: 0.65

.buyNow
  margin-bottom: 100px
  &-container
    padding-top: 100px
    width: 87%
    margin: 0 auto
    display: flex
    justify-content: space-between
  &-info
    width: 50%
    &-wrapper
      margin-top: 246px
  &-title
    font-size: 48px
    line-height: 62px
    margin-bottom: 23px
    opacity: 0.8
  &-text
    padding-left: 30px
    margin-bottom: 55px
    li
      font-size: 15px
      line-height: 30px
      opacity: 0.8
  &-image
    width: 50%
    img
      width: 100%
      height: 100%

.rendered
  margin-bottom: 100px
  &-title
    text-align: center
  &-pallette
    width: 100%

.bigsur
  margin-bottom: 195px
  &-title
    text-align: center
    margin-bottom: 30px
  &-pallette
    width: 100%
    margin-bottom: 64px
  &-menu
    text-align: center
    &-wrapper
      width: 86%
      margin: 0 auto
      display: flex
      justify-content: space-around
    &-title
      color: #999999
      font-size: 15px
      line-height: 25px
      margin-bottom: 20px
  &-item
  &-link
    font-size: 14px
    line-height: 22px
    text-decoration: none
    color: #fff
    opacity: 0.65

.iconrequest
  &-container
    width: 75%
    display: flex
    height: 620px
  &-image
    width: 50%
    align-items: center
    display: flex
    img
      display: block
      width: 80%
      height: 80%
      margin-right: auto
      margin-left: auto
      align-items: center
  &-info
    width: 50%
    margin: auto
  &-title
    margin-bottom: 35px
  &-text
    color: #EBEBEB
    font-size: 16px
    line-height: 30px
    max-width: 90%
    margin-bottom: 26px

.grab
  background-image: url('../img/grab-bg.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  &-container
    text-align: center
    min-height: 432px
  &-title
    font-size: 51px
    line-height: 52px
    padding-top: 106px
    margin-bottom: 32px
  &-text
    font-size: 18px
    line-height: 26px
    opacity: 0.8
    margin-bottom: 42px

.footer
  min-height: 307px;
  &-container
    width: 50%
    margin: auto
  &-wrapper
    text-align: center
    padding-top: 87px
  &-logo
    margin-bottom: 24px
  &-author
    margin-bottom: 32px
    font-size: 16px
    line-height: 30px
    span
      color: #9400FF
      font-size: 15px
  &-copyright
    font-size: 11px
    line-height: 30px
    opacity: 0.8

// @media (max-width: 1200px)
//   .hero
 
//   .description-wrapper


@media (max-width: 1024px)
  .hero
    padding-top: 200px
  .description-wrapper
    width: 80%
  .description-card
    margin-right: 43px

@media (max-width: 768px)
  .hero
    height: 100%
    padding: 0
    margin: 0


// @media (max-width: 320px)

    